.engulf-container {
  height: 100vh;
}
.home-container {
  height: calc(100vh - 30vh);
  width: 100%;
  /* overflow-y: scroll; */
  /* scroll-snap-type: y mandatory; */
  display: flex;
  overflow: hidden;

  
}

/* Photos Section */
.photos-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 40px;

}

/* Polaroid Style */
.polaroid {
  background: white;
  padding: 10px 15px 30px 15px;

  width: 190px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  transform: rotate(-2deg);
  transition: all 0.3s ease;
  text-align: center;
}

.polaroid:nth-child(even) {
  transform: rotate(3deg);
}

.polaroid:hover {
  transform: rotate(0deg) scale(1.05);
}

.polaroid img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.polaroid p {
  margin-top: 12px;
  font-size: 0.9rem;
  color: #555;
}

/* About Section */
.about-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  width: 100%;
}

/* Responsive */
@media (max-width: 1024px) {
  .home-container{
    flex-direction: column;
  }
  .photos-container {
    padding: 40px 20px;
    order: 1;
  }
  .about-container{
    order: 1;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .polaroid {
    width: 140px;
  }

  .polaroid img {
    height: 140px;
  }
}
